<div class="data-form">
  <form class="form-signin" action="<%=`/songs/${song._id}/update?_method=PUT`%>" method="POST">
    <h2 class="form-signin-heading">Edit song's info:</h2>
    <label for="inputSong">Song Name</label>
    <input type="text" name="name" id="inputSong" class="form-control" value="<%= song.name %>" placeholder="Song name" autofocus>
    <label for="inputArtist">Artist</label>
    <input type="text" name="artist" id="inputArtist" class="form-control" value="<%= song.artist %>" placeholder="Artist" required>
    <label for="inputRating">Rating</label>
    <input type="text" name="rating" id="inputRating" class="form-control" value="<%= song.rating %>" placeholder="Rating" required>
    <label for="inputDuration">Duration</label>
    <input type="text" name="duration" id="inputDuration"  class="form-control" value="<%= song.duration %>" placeholder="Duration" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
</div>
