<h1 class="center">Subscriber Data for
    <%= subscriber.fullName %>
</h1>
  
<table class="table">
    <tr>
        <th>Name</th>
        <td>
        <%= subscriber.fullName %>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
        <%= subscriber.email%>
        </td>
    </tr>
</table>


<div>
    <a class="button" href="/subscribers">View all subscribers</a>
</div>
<div>
    <a class="button" href="<%=`/subscribers/${subscriber._id}/edit`%>">
        Edit Subscriber Details
    </a>
</div>
<div>
    <a class="button" href="<%= `/subscribers/${subscriber._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
</div>