<h2>Artists Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% artists.forEach(artist => { %>
    <tr>
      <td>
        <a href="<%= `/artists/${artist._id}` %>">
          <%= artist.title %>
        </a>
      </td>
      <td>
        <%= artist.description %>
      </td>
      <td>
        <a href="<%=`artists/${artist._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `artists/${artist._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
